* {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}

.header {
  height: 100px;
  background-color: aquamarine;
  display: none;
}
.header .inner {
  width: 1400px;
  height: 100%;
  margin: 0 auto;
  background-color: antiquewhite;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .inner .nav .gnb {
  display: flex;
  gap: 40px;
}
.header .inner .util {
  display: flex;
  gap: 40px;
}

.header-02 {
  width: 100%;
  height: 100px;
  /* background-color: yellow; */
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffffff72;
  backdrop-filter: blur(7px);

}
.header-02 .inner {
  width: 1400px;
  height: 100%;
  margin: 0 auto;
  /* background-color: rgb(251, 130, 255); */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-02 .inner .nav {
  height: 100%;
}
.header-02 .inner .nav .gnb {
  display: flex;
  /* gap: 40px; */
  height: 100%;
}
.header-02 .inner .nav .gnb li .depth-01 {
  /* background-color: aliceblue; */
  line-height: 100px;
  display: block;
  padding: 0 40px;
}
.header-02 .inner .nav .gnb li {
  position: relative;
}
.header-02 .inner .nav .gnb li .depth-02 {
  display: none; 
  width: 100%;
  position: absolute;
  top: 100px;
  left: 0;
  text-align: center;
  background-color: white;

}
.header-02 .inner .nav .gnb li:hover .depth-02 {
  display: block;
}
.header-02 .inner .nav .gnb li .depth-02 li a {
  padding: 10px 0;
  display: block;
}
.header-02 .inner .util {
  display: flex;
  gap: 40px;
}
.main_visual {
  width: 100%;
  height: 500px;
  
}
.main_visual img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
 