* {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
.list {
  max-width: 1440px; 
  margin: 100px auto;
  display: flex;
  justify-content: space-between;
}
.list .item {
  /* width: 320px; */ 
  width: 23%;
  height: 320px;
  border: 1px solid #000;
}

/* 미디어쿼리 작성 */
/* 화면의 크기가 1440px 이하부터 스타일 적용 */
@media screen and (max-width: 1440px) {
 /*  body {
    background-color: aqua;
  }
  .list {
    width: 100%;
  }
  .list .item {
    width: 23%;
  } */
} /* 1440px */

/* 화면의 크기가 640px 이하일 때 스타일 적용 */
@media screen and (max-width:640px) {
  body {
    background-color: rgb(249, 251, 152);
  }
  .list {
    flex-wrap: wrap;
    row-gap: 20px;
  }
  .list .item {
    width: 48%;
  }
  /* list에게 flex-wrap:wrap */
  /* item에게 width: 48% */
}